include:
  - ../aou-common/aou-common-compose.yaml
services:
  app:
    container_name: "application-server"
    build:
      context: ./nginx
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/static:/usr/share/nginx/html/aou-static:ro
    networks:
      - app-network
    depends_on:
      - rstudio
  rstudio:
    build:
      context: ../r-analysis
      additional_contexts:
        load-envs: service:aou-common-load-envs
      target: r-analysis-aou
    restart: always
    volumes:
      - .:/workspace:cached
      - work:/home/rstudio:cached
    tmpfs:
      - /home/rstudio/workspace:uid=1000,gid=1000
    environment:
      "DISABLE_AUTH": "true"
    networks:
      - app-network
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    security_opt:
      - apparmor:unconfined
  wondershaper:
    container_name: "wondershaper"
    image: "us-west2-docker.pkg.dev/shared-pub-buckets-94mvrf/workbench-artifacts/app-wondershaper@sha256:1aee5cd4032d4888f382e3b11c0b775479ccaf55d97943f64049f90cfba05fac"
    restart: always
    network_mode: "host"
    cap_add:
      - NET_ADMIN
networks:
  app-network:
    external: true
volumes:
  work:
