version: "2.4"
services:
  app:
    container_name: "application-server"
    image: "us-central1-docker.pkg.dev/wb-beamish-jalapeno-2198/navid-repo/base-image:2.4.1"
    restart: always
    volumes:
      - .:/workspace:cached
      - work:/home/vscode:cached
    ports:
      - "8080:8080"
    networks:
      - app-network
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    security_opt:
      - apparmor:unconfined
networks:
  app-network:
    external: true
volumes:
  work:
