include:
  - ../aou-common/aou-common-compose.yaml
services:
  app:
    container_name: "application-server"
    build:
      context: ../nemo_jupyter
      additional_contexts:
        extension-builder: service:aou-common-extension-builder
        load-envs: service:aou-common-load-envs
      target: nemo-aou
    user: jupyter
    restart: always
    volumes:
      - .:/workspace:cached
    ports:
      - "8888:8888"
    networks:
      - app-network
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    security_opt:
      - apparmor:unconfined
    command: jupyter lab --ip=0.0.0.0 --port=8888 --no-browser --LabApp.token=''
  wondershaper:
    container_name: "wondershaper"
    image: "us-west2-docker.pkg.dev/shared-pub-buckets-94mvrf/workbench-artifacts/app-wondershaper@sha256:f337c13f6292923827c3a059c67232c696879d0284433d69fae5ed249f487830"
    restart: always
    network_mode: "host"
    cap_add:
      - NET_ADMIN
networks:
  app-network:
    external: true
