include:
  - ../aou-common/aou-common-compose.yaml
services:
  app:
    container_name: "application-server"
    build:
      context: ../workbench-jupyter-parabricks
      additional_contexts:
        extension-builder: service:aou-common-extension-builder
        load-envs: service:aou-common-load-envs
      target: parabricks-aou
    user: jupyter
    restart: always
    volumes:
      - .:/workspace:cached
    ports:
      - "8888:8888"
    networks:
      - app-network
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    security_opt:
      - apparmor:unconfined
    command: ["jupyter", "lab", "--ip=0.0.0.0", "--port=8888", "--no-browser", "--LabApp.token=''"]
  wondershaper:
    container_name: "wondershaper"
    image: "us-west2-docker.pkg.dev/shared-pub-buckets-94mvrf/workbench-artifacts/app-wondershaper@sha256:d10279c22f794299d42906d63c2578a019a8a7a8164c8415f0110a0834c7d5c9"
    restart: always
    network_mode: "host"
    cap_add:
      - NET_ADMIN
networks:
  app-network:
    external: true
