services:
  app:
    container_name: "application-server"
    build:
      context: .
    restart: always
    volumes:
      - .:/workspace:cached
      - work:/root/work
    ports:
      - 8501:8501
    command: ["streamlit", "run", "/workspace/app.py", "--server.port=8501", "--server.address=0.0.0.0", "--server.headless=true", "--browser.gatherUsageStats=false"]
    networks:
      - app-network
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    security_opt:
      - apparmor:unconfined

volumes:
  work:

networks:
  app-network:
    external: true
