{
  "URLAllowlist": ["__APP_ORIGIN__"],
  "URLBlocklist": ["*"],
  "NewTabPageLocation": "http://__APP_ORIGIN__",
  "RestoreOnStartup": 4,
  "RestoreOnStartupURLs": ["http://__APP_ORIGIN__"],
  "BookmarkBarEnabled": false,
  "ShowHomeButton": false,
  "DownloadRestrictions": 3,
  "AllowFileSelectionDialogs": false,
  "DefaultFileSystemReadGuardSetting": 2,
  "DefaultFileSystemWriteGuardSetting": 2,
  "ClipboardAllowedForUrls": [],
  "DefaultClipboardSetting": 2,
  "DefaultPopupsSetting": 2,
  "PrintingEnabled": false,
  "SavingBrowserHistoryDisabled": true,
  "DeveloperToolsAvailability": 2,
  "RemoteDebuggingAllowed": false,
  "IncognitoModeAvailability": 1,
  "BrowserGuestModeEnabled": false,
  "BrowserAddPersonEnabled": false,
  "ExtensionInstallBlocklist": ["*"],
  "PasswordManagerEnabled": false,
  "AutofillAddressEnabled": false,
  "AutofillCreditCardEnabled": false,
  "TranslateEnabled": false,
  "DefaultNotificationsSetting": 2
}
