version: "2.4"
services:
  app:
    container_name: "application-server"
    build:
      context: .
    restart: always
    volumes:
      - .:/workspace:cached
    ports:
      - "7860:7860"
    networks:
      - app-network
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    security_opt:
      - apparmor:unconfined
networks:
  app-network:
    external: true
