include:
  - ../jupyter-common/jupyter-common-compose.yaml
services:
  app:
    container_name: "application-server"
    build:
      context: .
      args:
        CONTAINER_IMAGE: "${templateOption:containerImage}"
      additional_contexts:
        jupyter-extension-builder: service:jupyter-common-extension-builder
    user: "jupyter"
    restart: always
    volumes:
      - .:/workspace:cached
    ports:
      - "${templateOption:containerPort}:${templateOption:containerPort}"
    networks:
      - app-network
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    security_opt:
      - apparmor:unconfined
networks:
  app-network:
    external: true
