include:
  - ../jupyter-common/jupyter-common-compose.yaml
  - ../aou-common/aou-common-compose.yaml
services:
  app:
    container_name: "application-server"
    build:
      context: .
      additional_contexts:
        jupyter-extension-builder: service:jupyter-common-extension-builder
        aou-extension-builder: service:aou-common-extension-builder
        load-envs: service:aou-common-load-envs
    user: "jupyter"
    restart: always
    volumes:
      - .:/workspace:cached
    ports:
      - "8888:8888"
    networks:
      - app-network
    depends_on:
      - wondershaper
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    # TODO(PHP-87353): Add remotefuse back. See https://github.com/verily-src/workbench-app-devcontainers/pull/227
  wondershaper:
    container_name: "wondershaper"
    image: "us-west2-docker.pkg.dev/shared-pub-buckets-94mvrf/workbench-artifacts/app-wondershaper@sha256:5acffad272eccc2b771cf5db3888482ffde7762efe3e904b766091a7737df9a1"
    restart: always
    network_mode: "host"
    cap_add:
      - NET_ADMIN
networks:
  app-network:
    external: true
