[Unit]
Description=Run Workbench idle-shutdown
Requires=workbench-maintenance.service
After=workbench-maintenance.service devcontainer.service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/core/idle-shutdown.sh
